<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
  .form-control {
    padding: 0.375rem 0.75rem;  /* Custom padding */
    height: 28px;  /* Adjust height */
  }
</style>

</head>
<body>
<section>
<div class="container mt-5  offset-md-2 p-5">
  <div class="row">
    <div class="col-md-6 offset-md-2 p-2 mt-3">
      <div class="card shadow p-3 bg-body-tertiary rounded">
        <div class="card-header">
          <p class="fs-4 text-center">Add Admin</p>
          
                  <!-- Success Message -->
    <p th:if="${session.successMsg}" class="text-success fw-bold text-center">[[${session.successMsg}]]</p>
    <th:block th:text="${@commonServiceImpl.removeSessionMessage}"></th:block>

    <!-- Error Message -->
    <p th:if="${session.errormessage}" class="text-danger text-center fw-bold">[[${session.errorMsg}]]</p>
        <th:block th:text="${@commonServiceImpl.removeSessionMessage}"></th:block>
          
        </div>
        <div class="card-body">
          <form action="/admin/save-admin" enctype="multipart/form-data" method="post">
            <div class="row">
              <!-- Full Name -->
              <div class="mb-2 col-md-6">
                <label class="form-label" for="fullname">Full Name</label>
                <input type="text" id="fullname" name="name" class="form" required>
              </div>
              <!-- Mobile Number -->
              <div class="mb-2 col-md-6">
                <label class="form-label" for="mobile">Mobile Number</label>
                <input type="text" id="mobile" name="mobileNumber" class="form-control" required>
              </div>
            </div>
            <div class="mb-2">
              <label class="form-label" for="email">Email</label>
              <input type="text" id="email" name="email" class="form-control" required>
            </div>
            <div class="row">
              <!-- Address -->
              <div class="mb-2 col-md-6">
                <label class="form-label" for="add">Address</label>
                <input type="text" id="add" name="address" class="form-control" required>
              </div>
              <!-- City -->
              <div class="mb-1 col-md-6">
                <label class="form-label" for="city">City</label>
                <input type="text" id="city" name="city" class="form-control" required>
              </div>
            </div>
            <div class="row">
              <!-- State -->
              <div class="mb-1 col-md-6">
                <label class="form-label" for="state">State</label>
                <input type="text" id="state" name="state" class="form-control" required>
              </div>
              <!-- Pincode -->
              <div class="mb-2 col-md-6">
                <label class="form-label" for="pincode">Pincode</label>
                <input type="text" id="pincode" name="pincode" class="form-control" required>
              </div>
            </div>
            <div class="row">
              <!-- Password -->
              <div class="mb-2 col-md-6">
                <label class="form-label" for="pass">Password</label>
                <input type="password" id="pass" name="password" class="form-control" required>
              </div>
              <!-- Confirm Password -->
              <div class="mb-2 col-md-6">
                <label class="form-label" for="cpass">Confirm Password</label>
                <input type="password" id="cpass" name="cpassword" class="form-control" required>
              </div>
            </div>
            <div class="mb-3">
            <label class="form-label">Profile image</label><input class="form-control" name="img" type="file" required>
            </div>
            <button type="submit" class="btn bg-primary text-white col-md-12">Add</button>
          </form>
        </div>
        <div class="card-footer">
          <p class="text-center">Already have an account? <a href="/signin" class="text-decoration-none">Login Here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</body>
</html>
