<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="p-10 text-center  mt-5 d-flex justify-content-center align-items-center vh-100">
<div class="col-md-10 p-5">
<div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
<div class="card-header text-center">
     <p class="fs-4">Amins</p>

    <!-- Success Message -->
    <p th:if="${session.successMsg}" class="text-success fw-bold">[[${session.succMsg}]]</p>
    <th:block th:text="${@commonServiceImpl.removeSessionMessage}"></th:block>

    <!-- Error Message -->
    <p th:if="${session.errormessage}" class="text-danger fw-bold">[[${session.errorMsg}]]</p>
        <th:block th:text="${@commonServiceImpl.removeSessionMessage}"></th:block>

</div>
<div class="card-body">
<table class="table">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">Profile </th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile No.</th> 
      <th scope="col">Address</th>
     <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="u,c:${users}">
  <th scope="row">[[${c.count}]]</th>
  <td><img th:src="@{'/image/profile_img/'+${u.profileImage}}" width="50px" height="50px"></td>
  <td>[[${u.name}]]</td>
  <td>[[${u.email}]]</td>
    <td>[[${u.mobileNumber}]]</td>
    
        <td>[[${u.address+','+u.city+','+u.state+','+u.pincode}]]</td>
        <td>[[${u.isEnable}]]</td>
    
      <td>
      <a th:href="@{'/admin/updateadminStatus?status=true&id='+${u.id}}" class="btn btn-primary btn-sm">Active</a>
      <a th:href="@{'/admin/updateadminStatus?status=false&id='+${u.id}}" class="btn btn-danger btn-sm">Inactive</a>
      
      </td>
  </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</section>
</body>
</html>